body {
  text-align: center;
}
header {
  background: black;
  color: white;
  text-align: left;
}
footer {
  background: black;
  color: white;
}
li.span4 {
  list-style: none;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 100%;
}
.card{
  min-width: 40%;
}
